.row
  .span4.offset4
    %table.table.table-striped
      %caption
        %h4
          Total today:
          = @foods.sum(&:calories)
      %thead
        %tr
          %th Food
          %th Calories
      %tbody
        - for food in @foods
          %tr
            %td= food.name
            %td= food.calories
